-r requirements.txt
jupyterlab==4.2.4
{%- if cookiecutter.writing_docs == "yes" %}
mkdocs-glightbox==0.4.0
mkdocs-material==9.5.29
mkdocs-minify-plugin==0.8.0
mkdocs==1.6.0
neoteroi-mkdocs==1.0.5
{%- endif %}
pip-check-updates==0.27.0
