-r requirements.txt
black==21.9b0
{%- if cookiecutter.enable_jupyterlab == "yes" %}
jupyterlab==3.1.13
{%- endif %}
{%- if cookiecutter.writing_docs == "yes" %}
mkdocs==1.2.2
{%- endif %}
pip-check-updates==0.5.0
pylint==2.11.1
