-r requirements.txt
black==21.12b0
{%- if cookiecutter.enable_jupyterlab == "yes" %}
jupyterlab==3.2.8
{%- endif %}
{%- if cookiecutter.writing_docs == "yes" %}
mkdocs==1.2.3
{%- endif %}
pip-check-updates==0.8.2
pylint==2.12.2
